* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  h1 {
    text-align: center;
  }
  
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    box-shadow: 0px 4px 6px rgba(168, 167, 167, 0.613);
  }
  
  .logo {
    max-width: 50vw;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #5aa52d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .btn-outline-success {
      color: aqua;
  
  }
  input[type="submit"]:hover {
    background-color: #36611d;
  }
  
  @media (max-width: 768px) {
    form {
      padding: 10px;
    }
    header {
      font-size: 18px;
    }
  }