@media (max-width:475px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #box-maior {
        background-color: #00497E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        min-width: 315px;
       
    }

    #box-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        min-width: 315px;
    }
    #logo img {
        width: 100%;
        max-width: 300px;
    }
    #logo h1 {
        color: #ffffff;
        margin-top: 20px;
    }

    .box {
        margin-top: 200px;
        width: 300px;
    }

    h2 {
        text-align: start;
        color: white;
        margin: 20px 0;
        font-size: 18px;;
    }

    .options {
        display: block;
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        margin: 0 auto;
    }

    button {
        display: block;
        width: 60vw;
        padding: 15px;
        background-color: #5AA52D;
        color: #ffffff;
        border: none;
        border-radius: 20px;
        font-size: 18px;
        cursor: pointer;
        margin-top: 20px;
        
    }

    div {
        text-align: center;
    }
    #ola {
        text-align: center;
        color: black;
        margin-top: 150px;
        margin-bottom: 10px;
    }
    #ola h2{
        color:black
    }
    #input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin-bottom: 50px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 10px;
        border: none;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        font-size: 16px;
    }

    span {
        margin-top: 10px;
        font-size: 13px;
    }

    span a {
        color: black;
        text-decoration: underline;
    }
}

