@media (max-width:475px){
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'roboto', sans-serif;
    }
    .header-container {
      position:static;
      background-color:#fff;
      display: flex;
      width: 100%;
      text-align: center; 
      padding: 20px 0;
      margin-bottom: 70px;
      font-size: 24px;
      box-shadow: 0px 4px 6px rgba(168, 167, 167, 0.613);
  }
  
  .logo {
      max-width: 160px; 
      height: auto; 
      display: block; 
      margin: 0 auto;
  }

  #box-login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      min-width: 315px;
  }
  #logo img {
      width: 100%;
      max-width: 400px;
  }
  
  .box {
      margin-top: 200px;
      width: 300px;
  }

 
  #botoes-menu{
      display: flex;
      justify-content: center;
  }
  .button-menu{
      margin:1rem auto;
      margin-left: 30px;
      padding: 15px;
      background-color: #5AA52D;
      border: none;
      border-radius: 20px;
      cursor: pointer;
  }

  div {
      text-align: center;
  }
  .resultado{
    text-align: center;
  }
  #ola {
      text-align: center;
      color: black;
      margin-top: 110px;
      margin-bottom: 10px;
  }
  #ola h2{
      color:black
  }
  #input {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      margin-bottom: 10%;
  }

  input {
      width: 100%;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 10px;
      border: none;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      border-radius: 50px;
      font-size: 16px;
  }

  span {
      margin-top: 10px;
      font-size: 13px;
  }

  span a {
      color: black;
      text-decoration: underline;
  }

  #fundo-quiz {
    max-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background: white;
  
  }
  
  #fundo-quiz h2 {
    color: rgb(0, 0, 0);
  }
  
  #main-content {
    text-align: center;
    padding: 80px 0 20px; 
    max-height: calc(100vh - 100px); 
    overflow-y:scroll hidden; 
    margin-left: 8%;
    margin-right: 8%;

  }
  
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    text-align: justify;
  }
  
  .question {
    font-size: 14px;
  }

  .conclusao-mensagem{
    text-align: center;
  }
  .spnQtd {
    text-align: end;
    background-color: #ffffff;
    width: 13%;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .answers {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  

  .answer {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid #006a9b; 
    color: #006a9b;
    background-color: transparent; 
    cursor: pointer;
    border-radius: 10px; 
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .answer:active {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    background-color: #b89d08c2; 
    color: #fff; 
    border-color: #b89d08c2; 
  }

.finish {
display: none;
flex-direction: column;
gap: 10px;
}

.finish-button {
text-align: center;
padding: 8px 16px;
font-size: 14px;
font-weight: 400;
text-decoration: none;
border: 1px solid #006a9b; 
color: #006a9b; 
background-color: transparent; 
cursor: pointer;
border-radius: 10px; 
transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.finish-button:active{
  background-color: #b89d08c2; 
  color: #fff; 
  border-color: #b89d08c2; 
}
.pre-prova-container {
background-color: #fff;
max-width: 90%;
margin: 2rem auto;
padding: 20px;
text-align: center;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
margin-top: 150px;
}

.titulo {
font-size: 24px;
color: #333;
}

.mensagem {
font-size: 18px;
margin-top: 20px;
}

.aviso {
font-size: 16px;
margin-top: 10px;
color: #777;
}

.botao-cadastrar{
  text-align: center;
}
.botoes {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
justify-content: center;
}

/*só pra colocar a margem*/
.botao-voltar-menu {
margin-top: 20px;
}

.mensagem-tempo-esgotado {
display: none;
background-color: #f44336;
color: white;
padding: 10px;
text-align: center;
font-size: 16px;
}
#cronometro {
font-size: 24px;  
font-weight: bold; 

}
/*menu*/
#itens-menu ul {
  flex-direction: column;
  text-align: center;
}

#itens-menu li {
  margin: 10px 0;
}

header {
  font-size: 18px;
}

/* Estilo para o ícone do menu hamburguer */
.menu-toggle {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
}

.menu-toggle img {
  width: 30px;
  height: 30px;  
}

/* Estilo para o menu lateral */
#menu-lateral {
  position: fixed;
  top: 0;
  left: -300px; 
  width: 230px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: left 0.5s; 
  z-index: 1000; 
}


.btn-burguer{
  width: 85%;
  margin:1rem auto;
  padding:8px;
  font-size: 14px;
}

.video-texto{
  text-align: justify;
  font-size: 6px;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 30px;
}
} 

/*menu*/
#new-Body-Menu {
min-height: 100vh;
position: relative;
display: flex;
flex-direction: column;
}
#itens-menu {
width: 100%;
padding: 0;
margin: 0;
}

#itens-menu ul {
margin: 0;
list-style: none;
padding: 0;
width: 100%;
display: flex;
justify-content: center;

} 

#itens-menu li {
margin: 0 20px;
}

#itens-menu a {
text-decoration: none;
color: #0e0d0d;
font-weight: bold;
} 
.botao-Menu {
text-align: center;
padding: 10px;
border-radius: 5px;
margin: 0 100px;
display: flex;
justify-content: center;
flex-direction: column;
color: black;
align-items: center;
}

.botao-Menu img {
height: auto;
display: flex;
justify-content: center;
margin: 0 auto;
width: 150px;
margin-bottom: 30px;

}
.imagens{
text-align: center;


}

footer {
position: fixed;
bottom: 0;
color: #050505;
padding: 10px;
background: linear-gradient(#ffffff, #9a9a9a);
width: 100%;
text-align: center;
}